.boton-amarillo {
    @include boton($amarillo, $verde);
}

.boton-verde {
    margin-top: 1rem;
    @include boton($verde, $amarillo);
}

.boton-rojo {
    margin-top: 1rem;
    display: block;
    width: 86%;
    @include boton($rojo, $rojoOscuro);
}

.boton-verde-block {
    margin-top: 1rem;
    display: block;
    @include boton($amarillo, $verde);
}